@media (max-width: 1320px)
  .offers    
    &__salary
      margin-right: 40px
    &-text
      margin-right: 40px
      &__title
        font-size: 15px
      &__place
        font-size: 12px
  .demands
    margin-right: 100px

@media (max-width: 1200px)
  .container
    max-width: 960px
  .hero
    &__title
      font-size: 40px
    &__description
      font-size: 15px
  .cards
    &__item
      width: 140px
      height: 100px
  .offers
    &__image
      width: 80px
      height: 80px
    &__salary
      font-size: 14px
      margin-right: 30px
      padding: 8px 20px
    &-text
      margin-right: 30px
  .demands
    margin-right: 20px
    display: flex
    flex-direction: column
  .hero
    &__image
      width: 497px
      height: 494px

@media (max-width: 992px)
  .container
    max-width: 700px
  .hero
    &__title
      font-size: 30px
    &__description
      font-size: 12px
  .cards
    flex-wrap: wrap
@media (max-width: 767px)
  .offers
    &__item
      flex-direction: column
      margin-right: 10px
  
  

// @media (max-width: 576px)
// @media (min-width: 320px) and (max-width: 480px)



// Эффекты:
@media (min-width: 992px)
  .navbar
    &__link
      &:hover
        color: #1A75E8
  .button
    &:hover
      box-shadow: 0 0 8px #111238
  .header
    &__signin
      &:hover
        color: #1A75E8
    &__link
      &:hover
        fill: #1A75E8
        .header__logo-text
          fill: #1A75E8
  .tags
    &__link
      &:hover
        color: #1A75E8
        border: 1px solid #1A75E8
  .input
    &-group
      &__text
        &:hover
          outline: 1px dotted #1A75E8
  .cards
    &__item
      &:hover
        background-color: #1A75E8
        fill: #FFFFFF
        .cards__name
          color: #FFFFFF
  .offers
    &__image
      &:hover
        box-shadow: 0 0 12px #1A75E8
    &-text
      &__title
        &:hover
          color: #1A75E8
    &__details
      &:hover
        color: #111238
  .footer
    &-desc
      &:hover
        color: #1A75E8



