@media (min-width: 992px)
  .navbar
    &__link
      &:hover
        color: #1A75E8
  .button
    &:hover
      box-shadow: 0 0 8px #111238
  .header
    &__signin
      &:hover
        color: #1A75E8
    &__link
      &:hover
        fill: #1A75E8
        .header__logo-text
          fill: #1A75E8
  .tags
    &__link
      &:hover
        color: #1A75E8
        border: 1px solid #1A75E8
  .input
    &-group
      &__text
        &:hover
          outline: 1px dotted #1A75E8
  .cards
    &__item
      &:hover
        background-color: #1A75E8
        fill: #FFFFFF
        .cards__name
          color: #FFFFFF
  .offers
    &__image
      &:hover
        box-shadow: 0 0 12px #1A75E8
    &-text
      &__title
        &:hover
          color: #1A75E8
    &__details
      &:hover
        color: #111238
  .footer
    &-desc
      &:hover
        color: #1A75E8



